In [1]:
import os
current_directory = os.getcwd()
print("Current directory:", current_directory)
import pandas as pd

Current directory: C:\Users\zeyne\Untitled Folder 2

In [4]:
gen_df=pd.read_csv('gen.csv')

In [8]:
gen_df.head()

,Unnamed: 0,seq,start_pos,end_pos,gene,strand,chr
0,0,CTTTCCGCCCGGCTCCTTCAGAGGCCCGGCGACCTCCAGGGCTGGG...,6873303,6873246,SPSB2,-,12
1,1,CTCCCTTCCAGGTCAATCCAAACTGGAGCTCAACTTTCAGAAGAGA...,6872997,6872902,SPSB2,-,12
2,2,CAGAGGCCCGGCGACCTCCAGGGCTGGGAAGTCAACCGAGGTTCGG...,6873285,6873215,SPSB2,-,12
3,3,GTCAATCCAAACTGGAGCTCAACTTTCAGAAGAGAAAGACGCCCCA...,6872986,6872902,SPSB2,-,12
4,4,GGCCGGCGGTCTGCGCCCTGCGCGCCTCGGCTTCTTTCCGCCCGGC...,6873336,6873246,SPSB2,-,12

In [9]:
gen_df.tail()

,Unnamed: 0,seq,start_pos,end_pos,gene,strand,chr
109006,109006,AAATCCCGACCCTAGTCTGGAAGGCAGAAAGGAAGCCCCGGCTCAG...,132205802,132205363,GALNT9,-,12
109007,109007,GGCGCTTCTGAAGACGGGTGGGCAGACGATGGAGGACGAGGCTCTG...,132206028,132205923,GALNT9,-,12
109008,109008,CAGAGACAACAGACAGAAACCCAGAAACCACCTGCCACGATGTGAA...,132205711,132205561,GALNT9,-,12
109009,109009,CTACCTGAAAACTTTTGTTCCTATGCATAAAG,151088158,151088189,GABPB2,+,1
109010,109010,GCCATTTTGTTGCCTCTGTTTCTCCACGAGGGGGGGTTAAAGGCCC...,151070761,151070934,GABPB2,+,1

In [11]:
gen_df.seq.value_counts()

CTTTCCGCCCGGCTCCTTCAGAGGCCCGGCGACCTCCAGGGCTGGGAAGTCAACCGAG                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
CTTCGCTGGTGGGAAGAAGCCGAG                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            1
AAGAAGCCGAG                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1
TTTCCCAAGCATGAGGCCTTGCCTCCCCAGACCCTTTGCAGCCCACTCCAGACAGGACCCCTTGGGGTGGTCTTGGGGCTTTGCCCTGCTGTTGAGGAGCTCAGAACGTCACATGGTTGCCAATGCGACCCCAGCTCCATTACATAACCCACATACACCCCACCTCGGCCTCAACACCCCGGCGGGGCTGCCCTCAGTTAAGAGAACAGCACTGCGACCTTTGGAGGAGAGGCCAAGGAAAGAGAGAGAAAAAGGTGTCAACGGAGGATGGGCAGGAAAGAAAAGGGGAGGGAGGGAGAGGTGGGCAGAGGAGGGAAGAGGCAGGGCAAGTCCCCACCCCTTGTTGGGGTGGGGGAGTAGAGGACTTCGTGACAATCAGGACTAGGACTCCCCTACCCTCTCCCAAGACAGGGTGAGCCCAGTGTGGAAGGAGCTGGGTCCCAGTAGGTAGCAACCCAAAATGCCTCTAAGACCTACTGAGAGAGGGCCCCCAACCTGTCCCACCTTGGCCTCCTGGCAGCTTTAGTCTTGTGTTTCCACCTTGAACCAGACCAGAACGCGCGTGTGCTGGGTGTCTGCAGAGAAGGGACCAGGGGTCAAGCTGGGGCTCTGCACTTCTCAGAGGGATCCCTGAGAAGTCTCTCTTACTGTGCAGG    1
CCGAGGAGGTGAGTGCGCAGCCTGCTCCTCCCTGGCCCGCCCAGGCCTGGGACCCTGCTGTGAGGTGGAGAGAGGCGACACCCCGCCCTTGCCCCCCACCTGGCTCTCCTCTAAACCCCGTTGGGGCAGGCTGAGGGAAGAAGGAAAG                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   ..
GATGGTACAAAACAGAAGAGGGAACGGAAAAAGACAGTCTCATTCAGCAGC                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 1
GAAACGTACCTAAGTATTATTGGACAGCCGGAGTATTTTACAGTGGTTGCTGCTCAGGAAATTTGAGTGAAGGACTGCAAAAGAGGAGCAAAGCAGACCCGAGAGAGAAGGCAGCAGTGCTCCCCTGTGACGTGCTCCATCACCGGGCAGGGAAGACACCGCTGCCACCTCTCCACAGCCTTGTTCAAGAGCACTGGAAATT                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
GAAGGCTTCAGTCTCTTCCTTCTTTCAACTTCTGCTTGAATCCAAGTG                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    1
GGCGGCAGGGGCTGAGGGCACAGCCAGCGGGCGGCGCGCCGCGGACTCCAAGGCAGCCCGCCAAAAG                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 1
GCCATTTTGTTGCCTCTGTTTCTCCACGAGGGGGGGTTAAAGGCCCCCAAAACATGCACACATGAAAAGGGCAAAAAGTAACCGTCCTTGACAGGGAGTCTTAACTAGAGAAGGAAACGGGACTAAACTGGCGGGCTCCGTGGAAGCGTGGCCGGCAGCGTCCCGGACGAGGAG                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      1
Name: seq, Length: 109011, dtype: int64

In [17]:
gen_df.seq.drop_duplicates()

0         CTTTCCGCCCGGCTCCTTCAGAGGCCCGGCGACCTCCAGGGCTGGG...
1         CTCCCTTCCAGGTCAATCCAAACTGGAGCTCAACTTTCAGAAGAGA...
2         CAGAGGCCCGGCGACCTCCAGGGCTGGGAAGTCAACCGAGGTTCGG...
3         GTCAATCCAAACTGGAGCTCAACTTTCAGAAGAGAAAGACGCCCCA...
4         GGCCGGCGGTCTGCGCCCTGCGCGCCTCGGCTTCTTTCCGCCCGGC...
                                ...
109006    AAATCCCGACCCTAGTCTGGAAGGCAGAAAGGAAGCCCCGGCTCAG...
109007    GGCGCTTCTGAAGACGGGTGGGCAGACGATGGAGGACGAGGCTCTG...
109008    CAGAGACAACAGACAGAAACCCAGAAACCACCTGCCACGATGTGAA...
109009                     CTACCTGAAAACTTTTGTTCCTATGCATAAAG
109010    GCCATTTTGTTGCCTCTGTTTCTCCACGAGGGGGGGTTAAAGGCCC...
Name: seq, Length: 109011, dtype: object

In [22]:
gen_df=gen_df.rename(columns={'seq':'sequence'})

In [23]:
gen_df.head()

,Unnamed: 0,sequence,start_pos,end_pos,gene,strand,chr
0,0,CTTTCCGCCCGGCTCCTTCAGAGGCCCGGCGACCTCCAGGGCTGGG...,6873303,6873246,SPSB2,-,12
1,1,CTCCCTTCCAGGTCAATCCAAACTGGAGCTCAACTTTCAGAAGAGA...,6872997,6872902,SPSB2,-,12
2,2,CAGAGGCCCGGCGACCTCCAGGGCTGGGAAGTCAACCGAGGTTCGG...,6873285,6873215,SPSB2,-,12
3,3,GTCAATCCAAACTGGAGCTCAACTTTCAGAAGAGAAAGACGCCCCA...,6872986,6872902,SPSB2,-,12
4,4,GGCCGGCGGTCTGCGCCCTGCGCGCCTCGGCTTCTTTCCGCCCGGC...,6873336,6873246,SPSB2,-,12

In [25]:

gen_df = gen_df.rename(columns={'start_pos': 'startingposition', 'end_pos': 'endingposition'})


print(gen_df)

        Unnamed: 0                                           sequence  \
0                0  CTTTCCGCCCGGCTCCTTCAGAGGCCCGGCGACCTCCAGGGCTGGG...
1                1  CTCCCTTCCAGGTCAATCCAAACTGGAGCTCAACTTTCAGAAGAGA...
2                2  CAGAGGCCCGGCGACCTCCAGGGCTGGGAAGTCAACCGAGGTTCGG...
3                3  GTCAATCCAAACTGGAGCTCAACTTTCAGAAGAGAAAGACGCCCCA...
4                4  GGCCGGCGGTCTGCGCCCTGCGCGCCTCGGCTTCTTTCCGCCCGGC...
...            ...                                                ...
109006      109006  AAATCCCGACCCTAGTCTGGAAGGCAGAAAGGAAGCCCCGGCTCAG...
109007      109007  GGCGCTTCTGAAGACGGGTGGGCAGACGATGGAGGACGAGGCTCTG...
109008      109008  CAGAGACAACAGACAGAAACCCAGAAACCACCTGCCACGATGTGAA...
109009      109009                   CTACCTGAAAACTTTTGTTCCTATGCATAAAG
109010      109010  GCCATTTTGTTGCCTCTGTTTCTCCACGAGGGGGGGTTAAAGGCCC...

        startingposition  endingposition    gene strand chr
0                6873303         6873246   SPSB2      -  12
1                6872997         6872902   SPSB2      -  12
2                6873285         6873215   SPSB2      -  12
3                6872986         6872902   SPSB2      -  12
4                6873336         6873246   SPSB2      -  12
...                  ...             ...     ...    ...  ..
109006         132205802       132205363  GALNT9      -  12
109007         132206028       132205923  GALNT9      -  12
109008         132205711       132205561  GALNT9      -  12
109009         151088158       151088189  GABPB2      +   1
109010         151070761       151070934  GABPB2      +   1

[109011 rows x 7 columns]

In [28]:
gen_df.sort_values(by='gene', ascending=True)

,Unnamed: 0,sequence,startingposition,endingposition,gene,strand,chr
53317,53317,ATTGCTGCAGACGCTCACCCCAGACACTCACTGCACCGGAGTGAGC...,58353492,58353438,A1BG,-,19
44873,44873,TGAGCAACCCTAATTAACCTGATTTTTTGCTGATAATCACTCTCA,50859985,50859941,A1CF,-,10
44871,44871,ATAACAGTGCTGTGCCAAAAACCTGTGGATTTTCTCTACAAAAATTAT,50864080,50864033,A1CF,-,10
44872,44872,CATGACTGTTATCTTTTTGATGGAAAAGATGAAGTTCAGCGAAGAA...,50862981,50862889,A1CF,-,10
44874,44874,TGAGCAACCCTAATTAACCTGATTTTTTGCTGATAATCACTCTCAA...,50859985,50859842,A1CF,-,10
...,...,...,...,...,...,...,...
51971,51971,GTTGGCAGAGCAGTTGTCCTGGATGGCGGAGCCTTGGGTTCCGGGG...,77682658,77682585,ZZZ3,-,1
51972,51972,TGTATCAGGCTTTTAAGAAACACTGCAGGATCCTGTCTATCTTAAT...,77641446,77641384,ZZZ3,-,1
51973,51973,AGGAGCGGGAGGCGGGGACCCACCTGGAAGCGCCGCGGCGCCGCTA...,77683419,77683262,ZZZ3,-,1
51974,51974,AAAAATTTAGGAGGTTCTAGTATTCTTCATGGCTGAAGCTGAGAGA...,77639602,77639472,ZZZ3,-,1
51975,51975,GATTCTCGCGGGACCTCGTTGGCAGAGCAGTTGTCCTGGATGGCGG...,77682675,77682585,ZZZ3,-,1

In [39]:
gen_df['difference']= gen_df['endingposition']- gen_df['startingposition']

In [40]:
gen_df

,Unnamed: 0,sequence,startingposition,endingposition,gene,strand,chr,difference
0,0,CTTTCCGCCCGGCTCCTTCAGAGGCCCGGCGACCTCCAGGGCTGGG...,6873303,6873246,SPSB2,-,12,-57
1,1,CTCCCTTCCAGGTCAATCCAAACTGGAGCTCAACTTTCAGAAGAGA...,6872997,6872902,SPSB2,-,12,-95
2,2,CAGAGGCCCGGCGACCTCCAGGGCTGGGAAGTCAACCGAGGTTCGG...,6873285,6873215,SPSB2,-,12,-70
3,3,GTCAATCCAAACTGGAGCTCAACTTTCAGAAGAGAAAGACGCCCCA...,6872986,6872902,SPSB2,-,12,-84
4,4,GGCCGGCGGTCTGCGCCCTGCGCGCCTCGGCTTCTTTCCGCCCGGC...,6873336,6873246,SPSB2,-,12,-90
...,...,...,...,...,...,...,...,...
109006,109006,AAATCCCGACCCTAGTCTGGAAGGCAGAAAGGAAGCCCCGGCTCAG...,132205802,132205363,GALNT9,-,12,-439
109007,109007,GGCGCTTCTGAAGACGGGTGGGCAGACGATGGAGGACGAGGCTCTG...,132206028,132205923,GALNT9,-,12,-105
109008,109008,CAGAGACAACAGACAGAAACCCAGAAACCACCTGCCACGATGTGAA...,132205711,132205561,GALNT9,-,12,-150
109009,109009,CTACCTGAAAACTTTTGTTCCTATGCATAAAG,151088158,151088189,GABPB2,+,1,31
109010,109010,GCCATTTTGTTGCCTCTGTTTCTCCACGAGGGGGGGTTAAAGGCCC...,151070761,151070934,GABPB2,+,1,173

In [41]:
gen_df.sort_values(by=['difference'], ascending=True)

,Unnamed: 0,sequence,startingposition,endingposition,gene,strand,chr,difference
95853,95853,GAGTATATCTGGATATGTTTATTTTTCTATGTCAATATATATCTGT...,115843917,115838373,NHLH2,-,1,-5544
56462,56462,GCGGCACAGAGCCGCGGCTTGCTTTCAGGACACGGGTCGCTGGCGG...,135497745,135492238,AHI1,-,6,-5507
9802,9802,GGGCAGGGGCGGAGGCGGAGGCAGAGGTGGAGGCGCTTTGAAAGGT...,96389887,96384748,CCDC82,-,11,-5139
34426,34426,CATGAAAGGATGTAACACGCACCAAGATGTATAAACTATCCGGATA...,123625316,123620295,MYLK,-,3,-5021
31138,31138,AGAGGTGTTCCCAGTATGGCCGATCTCCATAGGCATACTGGCCCTT...,134392353,134387844,B3GAT1,-,11,-4509
...,...,...,...,...,...,...,...,...
102937,102937,GGAGAAAAGAAGCCGTGGCCGCGGGAGGAGGCGAGAGGAGTCGGGA...,108223086,108227624,ATM,+,11,4538
34718,34718,CATGGGGAGAGGAAAGCAATGGACACAATTGTATCCTGTAGGGTTT...,88996506,89001200,S1PR3,+,9,4694
61630,61630,CATTTGATGTGTCCATCATTCCCTTTTGCTGGATATACTTCCCTTG...,141714657,141719476,IL15,+,4,4819
12586,12586,AAATCTTACAGGCTGGTGTTAAAGGAACTTCGGAATCCCTTAAAGG...,12119890,12125870,HIVEP1,+,6,5980
15449,15449,GACTGGTGAAACCGTAATGAAGAACACCCCTAAACTCCCATAATCG...,203796451,203803016,ZC3H11A,+,1,6565

In [42]:
gen_df[['difference', 'gene']].sort_values(by=['difference'], ascending=True)

        difference     gene
95853        -5544    NHLH2
56462        -5507     AHI1
9802         -5139   CCDC82
34426        -5021     MYLK
31138        -4509   B3GAT1
...            ...      ...
102937        4538      ATM
34718         4694    S1PR3
61630         4819     IL15
12586         5980   HIVEP1
15449         6565  ZC3H11A

[109011 rows x 2 columns]

In [44]:
highest_value=gen_df['difference'].max()

In [45]:
highest_value

6565

In [52]:
cross_tab=pd.crosstab(gen_df['difference'], gen_df['gene'])

In [55]:
cross_tab

gene,A1BG,A1CF,A2M,A2ML1,A4GALT,A4GNT,AAAS,AACS,AADAC,AADACL2,...,ZW10,ZWILCH,ZWINT,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
difference,,,,,,,,,,,,,,,,,,,,,
-5544,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
-5507,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
-5139,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
-5021,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
-4509,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4538,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4694,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4819,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5980,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6565,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0